[submodule "libshadertoy"]
	path = libshadertoy
	url = ../../vtaverni/libshadertoy.git
[submodule "models"]
	path = models
	url = ../../vtaverni/test-models.git
[submodule "assimp"]
	path = assimp
	url = https://github.com/assimp/assimp.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "msgpack-c"]
	path = msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
